---
import Layout from "@layouts/index.astro";
import List from "@components/List.astro";
import Card from "@components/Card.astro";
import { getContent } from "@lib/contentParser.astro";
import { sortByDate } from "@lib/utils/sortFunctions";
import { SITE } from "@config";

let allPosts = await getContent("blog");
allPosts = sortByDate(allPosts);
---

<Layout title={SITE.title}>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-7">
        <h1 class="display-4 my-5 my-lg-6 pb-lg-4 text-center">{SITE.title}</h1>
      </div>
    </div>
  </div>
  <div class="bg-skew bg-skew-light">
    <div class="container py-4">
      <div class="row" transition:name="list" transition:animate="slide">
        {allPosts.map((post) => <div>{JSON.stringify(post)}</div>)}
      </div>
    </div>
  </div>
</Layout>
