---
import website from "../website.json";
import Layout from "@layouts/index.astro";
---

<Layout>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-7">
        <h1 class="display-4 my-5 my-lg-6 pb-lg-4 text-center">{website.name}</h1>
        <p>{website.description}</p>
      </div>
    </div>
  </div>
</Layout>
