---
import { SITE } from "@config";

const currentYear = new Date().getFullYear();
---

<div class="container">
  <div class="row justify-content-md-between">
    <div class="col-sm-12 col-md-4 mb-4">
      <h2 class="h5 mb-3">{SITE.title}</h2>
      <p>{SITE.desc}</p>
    </div>
    <div class="col-4 col-md-2 mb-4">
      <h2 class="h5 mb-3">Menu</h2>
      <ul class="nav flex-column">
        <li class="mb-1">
          <a href={SITE.website} class="text-secondary">Home</a>
        </li>
        <li>
           <a href={'/posts/'} class="text-secondary">Archives</a>
        </li>
      </ul>
    </div>
  </div>

  <hr />

  <div
    class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-center"
  >
    <div class="text-muted mb-3">
      <span>Copyright &#169; {currentYear}</span>
    </div>
  </div>
</div>
